*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* -header */

header{
    background-color: #0084FD;
}

.header-container{
    display: flex;
    justify-content: space-between;
}

header .header-container .menu-desktop{
    display: none;
}

header .container .header-container .menu-desktop ul li {
    display: inline;
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

.img-jumbo{
    width: 400px;
    height: 400px;

}


h2{
    text-align: center;
}

.py-20{
    padding: 20px;
}
.py-40{
    padding: 40px;
}
.py-60{
    padding: 60px;
}

.my-30{
    margin: 30px;
}

.logo{
    color: white;
    font-weight: bold;
}

footer{
    background-color: #333333;
}




/* RESPONSIVE */

/* tablet */

@media screen and (min-width: 768px)
{
    header .header-container  .menu-desktop{
        display: none;
       
    }
    header .header-container  .menu-mobile{
        display: block;
    }

    main .big-col-mobile{
        width: calc(100% / 3 * 2 - 20px)
    }
    main .col-mobile{
        width: calc(100% / 3 - 20px)
    
    }
    main .container-jumbotron{
        max-width: 100%;
        margin: 0 auto;
    }

    main .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    main .container-full{
        max-width: 100%;
        margin: 0 auto;
    }

    main .row-st-planning{
        display: flex;
        flex-direction: column;
    }    

    main .bg-violet .container .row-st-benefits .col-100{
        width: calc(100% / 2 - 20px);
    }   
    #about-us .col-left{
        width: calc(100% / 3 * 2 - 20px);
    } 
    #about-us .col-right{
        width: calc(100% / 3 - 20px);
    } 
}



/* DESKTOP */

@media screen and (min-width: 1100px)
{
    header .header-container  .menu-desktop{
        display: block;
       
    }
    header .header-container  .menu-mobile{
        display: none;
    }
    main .big-col-mobile{
        width: calc(100% / 3 * 2 - 20px)
    }
    main .col-mobile{
        width: calc(100% / 3 - 20px)
    
    }
    main .container-jumbotron{
        max-width: 80%;
        margin: 0 auto;
    }

    main .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    main .row-st-planning{
        display: flex;
        flex-direction: row;
    }
      
    main .bg-violet .container .row-st-benefits .col-100{
        width: calc(100% / 3 - 20px);
    }   
    #about-us .col-left{
        width: calc(80% - 20px);
    } 
    #about-us .col-right{
        width: calc(20% - 20px);
    } 
    
    
}

/* utility */
.container-jumbotron{
    max-width: 80%;
    margin: 0 auto;
}
.container{
    max-width: 80%;
    margin: 0 auto;
}


.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.row-st-benefits{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} 

/* height */


.height-xl{
    height: 700px;
}
.height-l{
    height: 500px;
}
.height-s{
    height: 300px;
}
.height-sm{
    height: 200px;
}
.height-m{
    height: 100px;
}
 /* bgcolor */
.bg-light-blue{
    background-color:#B5DDFF ;
}
.bg-violet{
    background-color: #9792E4;
}
.bg-gold{
    background-color: gold;
}

/* col */

.big-col-mobile{
    width: calc(100% - 20px)
}
.col-mobile{
    width: calc(100% - 20px)

}

.col-33{
    width: calc(100% / 2)
}
.col-left{
    width: 100%
}
.col-right{
    width: 100%
}
.col-40{
    width: 40%
}

.col-50{
    width: 50%

}
.col-60{
    width: 60%

}
.col-100{
    width: calc(100%  - 20px)

}
.col-100-h2{
    width: calc(100%  - 20px)

}

.my-10{
    margin: 10px;
}

.border-radius{
    border-radius: 2%;
}
.border-radius-card{
    border-radius: 5%;
}


.ps-relative{
    position: relative;
}


.d-flex{
    display: flex;
}

.justify-end{
    justify-content: flex-end;
}


.p-jumbotron{
    font-size: larger;
    line-height: 30px;
    padding-top: 30px;
}

.h3-jumbotron{
    color: blue ;
    padding-top: 20px;

}

.btn{
    background-color:white;
    padding: 10px;
    border-radius: 15%;
}