*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* -header */

header{
    background-color: #0084FD;
}

.header-container{
    display: flex;
    justify-content: space-between;
}

header .header-container .menu-desktop{
    display: none;
}

header .container .header-container .menu-desktop ul li {
    display: inline;
    list-style: none;
}

a{
    text-decoration: none;

}

/* main- */




/* RESPONSIVE */

/* tablet */

@media screen and (min-width: 768px)
{
    header .header-container  .menu-desktop{
        display: none;
       
    }
    header .header-container  .menu-mobile{
        display: block;
    }

    main .big-col-mobile{
        width: calc(100% / 3 * 2 - 20px)
    }
    main .col-mobile{
        width: calc(100% / 3 - 20px)
    
    }
    main .container-jumbotron{
        max-width: 100%;
        margin: 0 auto;
    }

    main .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    main .container-full{
        max-width: 100%;
        margin: 0 auto;
    }

    main .row-st-planning{
        display: flex;
        flex-direction: column;
    }
}


/* DESKTOP */

@media screen and (min-width: 1100px)
{
    header .header-container  .menu-desktop{
        display: block;
       
    }
    header .header-container  .menu-mobile{
        display: none;
    }
    main .big-col-mobile{
        width: calc(100% / 3 * 2 - 20px)
    }
    main .col-mobile{
        width: calc(100% / 3 - 20px)
    
    }
    main .container-jumbotron{
        max-width: 80%;
        margin: 0 auto;
    }

    main .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    main .row-st-planning{
        display: flex;
        flex-direction: row;
    }

    
}

/* utility */
.container-jumbotron{
    max-width: 80%;
    margin: 0 auto;
}
.container{
    max-width: 80%;
    margin: 0 auto;
}


.row{
    display: flex;
    flex-direction: column;
    
}

/* height */


.height-xl{
    height: 700px;
}
.height-l{
    height: 500px;
}
.height-s{
    height: 300px;
}
.height-sm{
    height: 200px;
}
 /* bgcolor */
.bg-light-blue{
    background-color:#B5DDFF ;
}
.bg-violet{
    background-color: #9792E4;
}
.bg-gold{
    background-color: gold;
}

/* col */

.big-col-mobile{
    width: calc(100% - 20px)
}
.col-mobile{
    width: calc(100% - 20px)

}
.col-40{
    width: 40%

}
.col-50{
    width: 50%

}
.col-60{
    width: 60%

}
.col-100{
    width: calc(100%  - 20px)

}

.my-10{
    margin: 10px;
}

.border-radius{
    border-radius: 2%;
}

