*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* -header */

header{
    background-color: #0084FD;
}

.header-container{
    display: flex;
    justify-content: space-between;
}

header .header-container .menu-desktop{
    display: none;
}

header .container .header-container .menu-desktop ul li {
    display: inline;
    list-style: none;
}

a{
    text-decoration: none;

}


/* RESPONSIVE */

/* tablet */

@media screen and (min-width: 768px)
{
    header .header-container  .menu-desktop{
        display: none;
       
    }
    header .header-container  .menu-mobile{
        display: block;
    }
}

/* DESKTOP */

@media screen and (min-width: 1100px)
{
    header .header-container  .menu-desktop{
        display: block;
       
    }
    header .header-container  .menu-mobile{
        display: none;
    }
}